@media screen and (max-width: 640px) {
  .hero,
  .container {
    margin: 5rem 1.25rem;
  }
  .hero {
    margin: 0 1.25rem;
    padding: 5rem 0;
  }

  header {
    width: 100%;
  }

  .hero img {
    display: none;
  }

  #menu-btn {
    display: block;
  }
  nav ul {
    display: none;
  }

  nav.active ul {
    display: flex;
    @include set-bg-color($secondary);
    padding: 2rem;
    border-radius: 1rem;
    gap: 2rem;
    position: absolute;
    top: 90px;
    right: 1.25rem;
    z-index: 10;

    li {
      // margin: 0;
      // font-size: 1.5rem;
      display: block;
      // margin-bottom: 1.25rem;
    }
  }

  nav {
    margin: 0 1.25rem;
  }

  nav ul,
  .btn-container,
  .features,
  .achievements .container {
    flex-direction: column;
  }

  .contact {
    gap: 5rem;
  }

  footer ul {
    flex-wrap: wrap;
  }

  .vertical-line {
    // display: none;
    // border: none;
    border-width: 0 !important;
    border-bottom: 1px solid $white !important;
    height: auto !important;
    width: 30% !important;
    margin: 3rem auto;
  }

  .featured-services,
  .featured-services .cards,
  .testimonial .cards,
  .benefits .cards,
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
}
