$primary: slateblue;
$primaryLight: #d4cdff66;
$secondary: #f0effa;
$white: #fff;
$accent: purple;

$text-color: #2a2452;
$bg-color: #f0effa;

$primary-blue-100: #eceeff;
$primary-blue-200: #daddff;
$primary-blue-300: #b4bbff;
$primary-blue-400: #8f99ff;
$primary-blue-500: #6977ff;
$primary-blue-600: #4455ff;
$primary-blue-700: #3644cc;
$primary-blue-800: #293399;
$primary-blue-900: #1b2266;
$primary-blue-950: #0e1133;

$headline: "Playfair Display", serif;
$body: "Poppins", sans-serif;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $text-color;
  } @else {
    @return $bg-color;
  }
}

@mixin set-bg-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
