$primary: slateblue;
$primaryLight: #d4cdff66;
$secondary: #f0effa;
$white: #fff;

$text-color: #2a2452;
$bg-color: #f0effa;

$dark-bg: #555075;

$primary-blue-100: #eceeff;
$primary-blue-200: #daddff;
$primary-blue-300: #b4bbff;
$primary-blue-400: #8f99ff;
$primary-blue-500: #6977ff;
$primary-blue-600: #4455ff;
$primary-blue-700: #3644cc;
$primary-blue-800: #293399;
$primary-blue-900: #1b2266;
$primary-blue-950: #0e1133;

$headline: "Playfair Display", serif;
$body: "Poppins", sans-serif;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $text-color;
  } @else {
    @return $bg-color;
  }
}

@mixin set-bg-color($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin hero-button {
  padding: 16px 48px;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: none;
  //   margin: none;
  font: {
    weight: 500;
    size: 1.25rem;
  }

  &:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}

@mixin flex-align($align: center) {
  display: flex;
  align-items: $align;
}

@mixin h1-sub {
  .head {
    font: {
      family: $headline;
      size: 3rem;
    }
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .subhead {
    text-align: center;
    margin-bottom: 2rem;
  }
}
