@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@400;500;600;700&display=swap");
@import "reset";
@import "variables";
@import "utilities";

.header-hero-container {
  @include set-bg-color($primary);
  // @include set-bg-color($primary-blue-100);
}

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 1px solid $secondary;
  nav {
    @include flex-align;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }

  ul {
    @include flex-align;
    gap: 56px;

    li {
      list-style: none;
      font-size: 1.25rem;
    }
  }
}

.hero {
  @include flex-align;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem 0;
  gap: 100px;
  // min-height: 80vh;

  p {
    margin-bottom: 3rem;
  }
  img {
    width: 40%;
  }
  .btn-container {
    display: flex;
    gap: 1.25rem;
    // @include flex-align;
  }
}

.benefits {
  @include h1-sub;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
      @include set-bg-color($white);
      padding: 1.5rem;
      border-radius: 16px;
      border: 1px solid $primary;

      &:hover {
        @include set-bg-color($primary);
      }

      img {
        display: block;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      h2 {
        font: {
          weight: 600;
        }
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.features {
  @include flex-align(flex-start);
  @include set-bg-color($primary);
  padding: 2.5rem;
  gap: 1.5rem;
  border-radius: 1rem;

  .vertical-line {
    border-left: 2px solid $secondary;
    height: 70px;
    width: 2px;
  }

  .f-card {
    @include flex-align;
    align-items: flex-start;
    gap: 1rem;
  }
}

.featured-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  .contents {
    .ft-headline {
      @include flex-align;
      gap: 1.25rem;
      margin-bottom: 1.5rem;

      hr {
        border: 1px solid $primary;
        width: 160px;
      }
      h2 {
        color: $primary;
        margin-bottom: 0;
      }
    }

    .head {
      font-size: 3.5rem;
      font-weight: 600;
      font-family: $headline;
      line-height: 1.3;
      margin-bottom: 2.5rem;
    }

    .subhead {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }
    button {
      @include set-bg-color($primary);
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
      img {
        margin-bottom: 1rem;
      }
      h2 {
        margin: 0;
        margin-top: 1rem;
        // margin-bottom: 0;
      }
    }
  }
}

.achievements {
  padding: 0.5rem;
  .container {
    @include flex-align;
    justify-content: space-between;
  }
  // border-radius: 1rem;

  @include set-bg-color($primary);

  .vertical-line {
    border-left: 2px solid $secondary;
    height: 40px;
    width: 2px;
  }

  .a-card {
    text-align: center;

    h3 {
      font-size: 3rem;
    }
  }
}

.testimonial {
  @include h1-sub;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.contact-holder {
  background-color: $primaryLight;
  padding: 1rem 0;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.5rem;

    input,
    textarea {
      @include set-bg-color($white);
      padding: 20px;
      border-radius: 1rem;
      font-size: 1.125rem;
      border: 1px solid $primary;

      &:focus {
        border: none;
        outline: none;
        border: 2px solid $primary;
      }
    }
  }
  .accordion-item {
    margin-top: 24px;
    border-radius: 1rem;
    border: 1px solid $primary;
    overflow: hidden;
    @include set-bg-color($white);

    .accordion-header {
      @include flex-align;
      @include set-bg-color($white);
      padding: 20px;
      justify-content: space-between;
      h3 {
        margin-bottom: 0;
        line-height: 1.6;
      }
      button {
        border: none;
        background: none;
        font-size: 2rem;
      }
    }
    .accordion-content {
      border-top: 1px solid $primary;
      display: none;
    }
  }
}
.accordion-item.active .accordion-content {
  display: block;
  padding: 20px;
}

footer {
  @include set-bg-color($text-color);

  .footer-content {
    padding: 4rem 0;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;

    hr {
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin: 3rem auto;
      width: 300px;
    }

    .footer-links {
      text-align: center;
      margin: 3rem auto;

      ul {
        @include flex-align;
        // margin: auto;
        justify-content: center;
        gap: 4rem;
        font-size: 1.25rem;
        // font-weight: 500;
      }
    }
    .social-media {
      margin: 3rem auto;
      @include flex-align;
      justify-content: center;
      gap: 2rem;
      margin: 2rem 0 0;
    }
  }

  .footer-disclaimer {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 1rem;

    a {
      font-weight: 600;

      &:hover {
        // color: $primary-blue-100;
        text-decoration: underline;
      }
    }
  }
}

@import "mobile";
@import "tablet";
