@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@400;500;600;700&display=swap");

@import "variables";
@import "utilities";

.header-hero-container {
  background-color: $primary;
  color: $secondary;
}

header {
  //   background-color: $accent;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 1px solid $secondary;
  nav {
    @include flex-align;
    justify-content: space-between;

    h2 {
      font: {
        family: $headline;
        size: 2.5rem;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 56px;

    li {
      list-style: none;
      font-size: 1.25rem;
    }
  }
}

.hero {
  @include flex-align;
  max-width: 1280px;
  margin: 0 auto;
  // place-items: center;
  // place-content: center;
  gap: 100px;
  justify-content: space-between;
  min-height: 80vh;

  h1 {
    font: {
      family: $headline;
      size: 3rem;
    }
    line-height: 1.2;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.125rem;
    margin-bottom: 48px;
    line-height: 1.6;
  }
  img {
    width: 40%;
  }
}

.our-services {
  @include h1-sub;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
      background: white;
      padding: 1.5rem;
      border-radius: 16px;
      border: 1px solid $primary;

      img {
        display: block;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      h2 {
        font: {
          weight: 600;
        }
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.features {
  @include flex-align;
  padding: 2.5rem;
  gap: 1.5rem;
  border-radius: 1rem;

  background: $primary;
  color: $secondary;

  .vertical-line {
    border-left: 2px solid $secondary;
    height: 70px;
    width: 2px;
  }

  .card {
    @include flex-align;
    // display: flex;
    align-items: flex-start;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }
}

// .featured-services {
//   @include h1-sub;
// }

.featured-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  // @include flex-align;
  .ft-headline {
    @include flex-align;
    gap: 1.25rem;

    hr {
      border: 2px solid $primary;
      width: 160px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
      text-align: center;
      border: 1px solid $primary;
      border-radius: 1rem;
      padding: 3rem 0;

      img {
        margin-bottom: 1rem;
      }
    }
  }
}

.testimonial {
  @include h1-sub;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
      text-align: center;
      border: 1px solid $primary;
      border-radius: 1rem;
      padding: 20px;
    }
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  // background-color: rgba(105, 90, 205, 0.4);

  // background-color: $primary;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.5rem;

    input,
    textarea {
      padding: 20px;
      border-radius: 1rem;
      font-size: 1.125rem;
      border: 1px solid $primary;

      &:focus {
        border: none;
        outline: none;
        border: 2px solid $primary;
      }
    }
  }
  .accordion-item {
    margin-top: 24px;
    border-radius: 1rem;
    border: 1px solid $primary;
    overflow: hidden;

    .accordion-header {
      // border-radius: 1rem 1rem 0 0;
      padding: 20px;
      @include flex-align;
      justify-content: space-between;
      background-color: $primaryLight;
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 0;
      }
      button {
        border: none;
        background: none;
        font-size: 2rem;
      }
    }
    .accordion-content {
      display: none;
    }
  }
}
.accordion-item.active .accordion-content {
  display: block;
  padding: 20px;
}
